[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "==4.4.1"
requests = "==2.9.0"
slackclient = "==1.0.5"
"bs4" = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.7"
